name: Backend CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  backend:
    name: Backend CI/CD
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout git repo"
        uses: actions/checkout@v2

      - name: set up node
        uses: actions/setup-node@v1
        with:
          node-version: 20

      - name: Install backend dependencies
        run: npm install

      - name: Print current working directory
        run: pwd

      - name: Test backend
        run: npm run test
