name: Backend CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  backend:
    name: Backend CI/CD
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout git repo"
        uses: actions/checkout@v2

      # - name: CD backend
      #   run: cd backend

      - name: set up node
        uses: actions/setup-node@v1
        with:
          node-version: 20

      - name: Install backend dependencies
        run: npm install

      - name: Print current working directory
        run: pwd

      - name: Test backend
        run: npm run test

      # - name: Add Linode server to known_hosts
      #   run: |
      #     mkdir -p ~/.ssh
      #     ssh-keyscan -H 74.207.246.181 >> ~/.ssh/known_hosts

      # - name: Deploy to Linode server
      #   env:
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #   run: >

      #     ssh root@74.207.246.181 'cd Jebin-Backend && git pull origin main && pm2 restart startServer.js'

