name: SSH to Linode Ubuntu Server

on:
  push:
    branches:
      - main

jobs:
  ssh:
    runs-on: ubuntu-latest
    steps:
      - name: SSH to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 74.207.246.181
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
